@import url("../../assets/css/reset.css");
@import url("../../assets/css/global.css");
@import url("../../assets/css/components/navigator.css");
@import url("../../assets/css/components/pills.css");
@import url("../../assets/css/components/link-button.css");
@import url("../../assets/css/components/gallery.css");

.s-wrapper {
  display: flex;
  flex-flow: row;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.s-wrapper video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.s-wrapper .s-left-column {
  min-width: 50px;
  max-width: 100px;
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-wrapper .s-main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding-left: 24px;
  position: relative;
}

.s-wrapper .s-main-content__top {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.s-wrapper .s-main-content__bottom {
  display: flex;
}

.s-wrapper .s-main-content .s-logo img {
  max-width: 95%;
  margin-top: 36px;
}

.s-wrapper .s-main-content__top .s-description {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 600px;
  margin-right: 16px;
  padding: 20px;
  border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description .s-description__text {
  line-height: 170%;
}

.s-wrapper .s-main-content__top .s-description .pills {
  margin-bottom: 16px;
}

.s-wrapper .s-main-content .s-links {
  padding: 16px;
}

.s-wrapper .s-main-content .s-links ul {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .s-wrapper .s-main-content {
    padding-left: 0px;
  }
}
