@import url("./fancyapps.css");

.gallery {
  display: flex;
  height: calc(100% - 32px);
  padding: 16px;
  padding-left: 0;
}

.gallery ul {
  display: flex;
  gap: 16px;
}

.gallery ul li a img {
  max-width: 100%;
  max-height: calc(100% - 8px);
  border: solid 4px white;
  border-radius: 16px;
  transition: border-color 0.25s ease-in-out;
}

.gallery ul li a img:hover {
  border-color: var(--primary-color);
}
